.phrase-container{
  font-family: "Quattrocento Sans", sans-serif;
  .quote{
    position: relative;

    &::before{
      content: open-quote;
      font-size: 2rem;
      left: -1rem;
      top: -2rem;

    }
    &::after{
      content: close-quote;
      font-size: 2rem;
      left: -1rem;
      top: -2rem;
    }

  }
  .author{
    margin-top: 1.2rem;
    color: gray;
  }
}